# config for newer openocd versions.
# >0.12.0-6 should work, <0.12.0-3 requires old script

source [find interface/stlink.cfg]

transport select dapdirect_swd

source [find target/stm32f0x.cfg]

#reset_config srst_only
#reset_config srst_only srst_nogate
reset_config none separate