# config for old openocd versions.
# <0.12.0-3 should work, >0.12.0-6 requires updated script

source [find interface/stlink-v2.cfg]

transport select hla_swd

#select your mcu target
source [find target/stm32f0x.cfg]

#reset_config srst_only
#reset_config srst_only srst_nogate
reset_config none separate